[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.4"
pillow = "*"
python-decouple = "*"
cloudinary = "*"
django-restframework = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
whitenoise = "*"
dj-database-url = "*"
pyjwt = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
psycopg2-binary = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
